// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Inter:wght@200;400;900&family=Megrim&family=Poiret+One&family=Righteous&family=Train+One&display=swap');

// Logo possibilities
// font-family: 'Gugi', cursive;
// font-family: 'Megrim', cursive;
// font-family: 'Righteous', cursive;
// font-family: 'Train One', cursive;

// Define fonts for body and headers
$body-font: 'Inter', 'Helvetica', sans-serif;
$headers-font: 'Poiret One', 'Helvetica', sans-serif;
$logo-font: 'Megrim', sans-serif;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
