.ride-card-category {
  background-size: cover;
  background-position: center;
  height: 160px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(7, 5, 5);
  background-color: white;
  font-size: 16px;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(210, 208, 208, 0.2);

  p {
  color: rgb(245, 237, 237);
  text-decoration: none;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


  img{
    height: 100%;
    width: 100%;

  }


}
