<h1>Pages#home</h1>

<div>
  <%= link_to 'This button is light', rides_path, class:'btn custom-btn-light m-3' %>
</div>

<div>
  <%= link_to 'This button is dark', rides_path, class:'btn custom-btn-dark m-3' %>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
