// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "footer";
@import "custom-btn";
@import "card";
@import "grid";
@import "search-bar";

.container-index {
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn-index {
  margin-top: 15px;
  text-decoration: none;
}
