.navbar-lewagon {
  justify-content: space-between;
  background: black;
  margin-top: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-logo-tiny {
  font-family: $logo-font;
  font-size: 18px !important;
  margin-left: 5px !important;
  color: rgb(237, 237, 237) !important;
}

.navbar-text {
  color: rgb(237, 237, 237) !important;
  font-family: $body-font;
}

.navbar-m-right {
  margin-right: 15px;
}

.nav-avatar {
  margin-right: 15px;
  margin-top: 5px;
}
