.small-card{
  background-size: cover;
  background-position: center;
  height: 84%;
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(7, 5, 5);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: rgba(147, 145, 145, 0.5);
  box-shadow: 0 0 8px rgba(118, 117, 117, 0.2);

  p {

    text-decoration: none;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    font-style: normal;
   }

}

a {
  text-decoration: none !important;
}
