<%# banner %>
<div>
  <div class='banner profile-banner' style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cdn.mos.cms.futurecdn.net/RT5MccvxwUFJdEWt5dT49Y.jpg);">
  </div>
  <%= image_tag "tribore.jpg", class: "profile-avatar" %>
</div>

<%# bookings %>
<div class='container flex-row justify-content-between'>
  <div class='row'>
    <%# my rides %>
    <div class='col-sm'>
      <h1>My rides</h1>
        <% @rides.each do|ride| %>
          <%= ride.title %>
          <%= link_to "Bookings for this ride",ride_bookings_path(ride) %>
        <% end %>
    </div>

    <%# my ride requests %>
    <div class='col-sm'>
      <h1>My ride requests</h1>
    </div>
  </div>
</div>
